<div class="gallery-entry-wrapper {orientation}" id="{imageId}">
<!-- Gallery Entry-->    
    <a data-bs-toggle="modal" data-bs-target="#gallery-modal-{imageId}">
        <!-- <div class="gallery-entry w-100 shadow p-3 mb-4 rounded">
            <img
              src="{imagePath}"
              class="w-100 rounded"
              alt="{caption}"
            />
            <hr class="image-horizontal">
            <div class="gallery-caption-wrapper">
                <p class="gallery-title">{title}</p>
            </div>
        </div> -->
        <div class="gallery-entry w-100 mb-2">
            <img
              src="{imagePath}"
              class="w-100"
              alt="{caption}"
            />
        </div>

    </a>
<!-- Gallery Entry-->

<!-- Gallery Modal -->
    <div class="modal fade" id="gallery-modal-{imageId}" tabindex="-1" role="dialog" aria-labelledby="galleryModal" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="top-title">{title}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="gallery-modal">
                    <img
                    src="{imagePath}"
                    class="w-100 rounded mb-1"
                    alt="{caption}"
                    />
                </div>
                <div class="modal-caption-wrapper">
                    <p class="modal-caption-options">
                        <span class="modal-caption">{caption}</span>
                        <span class="modal-caption-options-separator">|</span>
                        <span class="modal-options">{options}</span>
                    </p>
                </div>
                <div class="modal-description ps-4 pe-4">
                    <zero-md>
                      <script type="text/markdown" data-dedent>
                        {description}
                      </script>
                    </zero-md>
                </div>
          </div>
          <div class="modal-footer justify-content-between">
            <div class="modal-tags-wrapper ps-4 pe-4">
                {modalTags}
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Gallery Modal -->
</div>