<div class="gallery-entry-wrapper {orientation}" id="{imageId}">
<!-- Gallery Entry-->    
    <a data-bs-toggle="modal" data-bs-target="#gallery-modal-{imageId}">
        <div class="gallery-entry w-100 shadow-sm p-3 mb-3 rounded">
            <img
              src="{imagePath}"
              class="w-100 rounded"
              alt="{caption}"
            />
            <hr class="image-horizontal">
            <div class="gallery-caption-wrapper">
                <p class="gallery-title">{title}</p>
                <!-- <p class="gallery-caption">{caption}</p> -->
                <!-- <p class="gallery-settings">{settings}</p> -->
            </div>
            <!-- <div class="gallery-tags-wrapper">
                {photoGalleryTags}
            </div> -->
        </div>
    </a>
<!-- Gallery Photo Entry-->

<!-- Gallery Photo Modal -->
    <div class="modal fade" id="gallery-modal-{imageId}" tabindex="-1" role="dialog" aria-labelledby="galleryModal" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{title}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="gallery-modal">
                    <img
                    src="{imagePath}"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="{caption}"
                    />
                </div>
                <div class="modal-caption-wrapper">
                    <p class="modal-caption-settings">
                        <span class="modal-caption">{caption}</span>
                        <span class="modal-caption-settings-separator">|</span>
                        <span class="modal-settings">{settings}</span>
                    </p>
                </div>
                <div class="modal-description-wrapper">
                <p class="modal-description">{description}</p>
            </div>
          </div>
          <div class="modal-footer">
            <div class="modal-tags-wrapper">
                {photoModalTags}
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Gallery Photo Modal -->
</div>