<div class="photo-gallery-entry-wrapper {orientation}" id="{imageId}">
<!-- Gallery Photo Entry
    Requires the following named arguments:
    - imageId:
    - imagePath:
    - orientation:
    - title:
    - caption:
    - description:
    - photo-gallery-tags-html:
    - photo-modal-tags-htmls
-->    
    <a data-toggle="modal" data-target="#photo-gallery-modal-{imageId}">
        <div class="photo-gallery-entry">
            <img
              src="{imagePath}"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="{caption}"
            />
        </div>
        <div class="photo-gallery-caption-settings-wrapper">
            <p class="photo-gallery-title">{title}</p>
            <p class="photo-gallery-caption">{caption}</p>
            <p class="photo-gallery-settings">{settings}</p>
        </div>
        <div class="photo-gallery-tags-wrapper">
            {photoGalleryTags}
        </div>
    </a>
<!-- Gallery Photo Entry-->

<!-- Gallery Photo Modal -->
    <div class="modal fade" id="photo-gallery-modal-{imageId}" tabindex="-1" role="dialog" aria-labelledby="galleryPhotoModal" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{title}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="photo-modal">
                    <img
                    src="{imagePath}"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="{caption}"
                    />
                </div>
                <div class="photo-modal-caption-settings-wrapper">
                    <p class="photo-modal-caption">{caption}</p>
                    <p class="photo-modal-settings">{settings}</p>
                </div>
          </div>
          <div class="modal-footer">
            <div class="photo-modal-tags-wrapper">
                {photoModalTags}
            </div>
            <div class="photo-modal-description-wrapper">
                <p class="photo-modal-description">{description}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Gallery Photo Modal -->
</div>