a:hover {
	cursor: pointer;
}

.top-title {
	font-family: courier;
}

.gallery-caption-wrapper {
	text-align: center;
	margin: 1% 0 -3% 0;
}

.modal-caption-wrapper {
	text-align: center;
}

.modal-caption-settings {
	font-style: italic;
	font-family: courier;
	opacity: 0.80;
}
.modal-caption-settings-separator {
	font-style: normal;
}

.modal-settings {
	opacity: 0.30;
}

.image-horizontal {
	margin: 1.5% 0 0 0;
	color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

.gallery-title {
	font-style: italic;
	font-family: courier;
	opacity: 0.80;
	margin: 0% 0% 1% 0%;
}

.log-entry {
	border-left: 1px solid #3333331c;
}

.outline-col .log-entry-col {
	overflow: scroll;
	height: 100vh;
}